body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

ul {
  list-style-type: none;
  /* border: 1px white solid; */
}

/* #displayContainer {
  display: inline;
} */

li {
  border: 1px white solid;
}


/* body li {
  border: 1px;
  border-color: white;
}

ul {
  display: hidden;
} */